body{
    background-color: #cdd1cd;
    padding: 230px;
}

.Rahab{
    border-radius: 10%;
}

h1 {
    color: rgb(107, 13, 13);
}
h3 {
    color: royalblue;
}
hr {
border-style: nome;

border-color: royalblue;
border-width: 2px;
width: 70%;
}


